*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #111827;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 4rem;
    width: 7rem;
    border-radius: 20px;
    background-color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle{
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
}