*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}

h2{
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

h2:hover{
    color: #fff;
    text-shadow: 0 0 5px #ff5493, 0 0 25px #ffc9eb, 0 0 50px #ff5493, 0 0 100px #ffc9eb;
}