*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #111827;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border:1px solid rgba(255,255,255,0.18);
    padding: 30px;
    width: 12rem;
    height: 15rem;
    position: relative;
}

.circle{
    position: absolute;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: deepskyblue;
    transform: translate(-8rem, 9rem);
}

.circle:nth-child(2){
    transform: translate(8rem, -9rem);
    background: deeppink;
}