*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111827;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:15rem;
    font-family: 'Poppins', sans-serif;

}

.button{
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:2px;
    color:#fff;
    outline:2px solid #fff;
    padding:30px 60px;
    position:relative;
    overflow:hidden;
    transition:color 1s;
}

.button:hover{
    color:#141414;
}

.button::before{
    content:"";
    position:absolute;
    top:0;
    left:-50px;
    width:0;
    height: 100%;
    background-color:#fff;
    transform:skewX(35deg);
    z-index:-1;
    transition: width 1s;
}

.button:hover::before{
    width:150%;
}