*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9F9F9;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    padding: 1em 0;
    width: 50%;
}

@media screen and (max-width:640px){
    .container{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width:900px){
    .container{
        width: 33.33333%;
    }
}

.content{
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
}

.content .content-overlay{
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-img{
    width: 100%;
}

.content-details{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #FFF;
    font-size: 0.8em;
    
}

.fadeIn-top{
    top: 20%;
}