*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #111827;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-right: 8rem;
    float: right;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 0 10px;
}

.nav-link{
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 3px;
    width: 0px;
    border-radius: 2px;
    background-color: deepskyblue;
    transition: 0.4s ease;
}

.nav-link:hover::after{
    width: 100%;
}